body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

/* HERO SECTION  */

img {
    width: 600px;
    height: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7Eb;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.hero-section {
    display: flex;
    background-color: #1f2937;
    padding: 0px 200px 120px 200px;
    flex-direction: column;
    gap: 100px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px 0px 8px 0px;
    width: 400px;
}

.p1 {
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}

.hero-button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 6px;
    padding: 4px 20px;
    color: white;
    font-weight: 600;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}


/* SECOND SECTION */

.img-container {
    max-width: 200px;
    max-height: 200px;
    padding: auto;
    overflow: hidden;
    border-radius: 24px;
}

.second-section {
    padding: 60px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.features {
    display: flex;
    gap: 40px;
}

.h2 {
    margin: 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.p2 {
    color: #1f2937;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

.img {
    height: 200px;
    width: auto;
}


/* THIRD SECTION */
.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 120px 0px 120px 0px;
}

.quote-tag {
    width: 780px;
    text-align: right;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 840px;
}

.tag-text {
    margin: 0px;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}
